// Colors based on UW branding guide
// https://www.washington.edu/brand/
$primary-color: rgb(51, 0, 111);
$primary-color-overlay: rgba(51, 0, 111, .3);

// Avatar card sizes
$cardWidth: 6.5vw;
$cardHeight: 6.5vw;
