.card {
  width: $cardWidth;
  height: $cardHeight;
  margin: 2px;
  display: inline-block;
  transition-duration: 1s;
  position: relative;
  flex-wrap: wrap;

  #overlay {
    position: absolute;
    width: $cardWidth;
    height: $cardHeight;
  }

  .tooltip { 
    pointer-events: none;
  }
}

.card:hover {
  #overlay {
    background: $primary-color-overlay;
  }
}

@media only screen and (min-width: 700px) {
  .card {
    width: $fullScreenCardWidth;
    height: $fullScreenCardHeight;
  }

  #overlay {
    width: $fullScreenCardWidth;
    height: $fullScreenCardHeight;
  }
}
